body

{

    color: grey;

    : valeur2;

    propriete3: valeur3;

}


.motherfuckingwebsite

{

    color: red;

    propriete2: valeur2;

    propriete3: valeur3;

    propriete4: valeur4;

}


balise3

{

    propriete1: valeur1;

}
